body {
	margin-top: 50px !important;
	background-color: #000000 !important;
}
.title {
	font-family: "Press Start 2P";
	color: white;
	font-size: 35px;
}
.link {
	font-family: "Press Start 2P";
	color: grey;
	font-size: 20px;
}
p {
	text-align: center;
	color: grey;
	margin: 1%;
	padding: 0;
	background-color: transparent;
}
p:hover {
    color: white;
}